html,
/* body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
} */
/* 
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */

main {
    flex: 1;
}

.footer {
    /* position: relative; */
    /* width: 100%; */
    /* z-index: 99; */
    background: #343a40;
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* sidebar */
.sidebar {
    top: 60px;
    left: 0;
}

.sidebar-Collapse-btn {
    cursor: pointer;
}

.hero {
    background-color: rgb(131, 127, 127);
}

.mobile-nav {
    text-decoration: none;
    padding: 8px;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    background: #343a40;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: start;
}

/* GameCart styling */
.card-img {
    object-fit: cover;
    overflow: hidden;
}

@media (min-width: 576px) {
    .library-container {
        min-height: 90vh;
    }
}